.main {
  user-select: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 80px;

  .workspace {
    flex: 1 1 auto;
  }

  .progress {
    width: 200px;
    flex-shrink: 0;
    margin: 4px;
  }
}
