.origin-list {
    height: calc(100% - 14px);
    margin-top: 8px;
    padding: 14px 16px 0 16px;

    background: #fff;

    .origin-form {
        display: flex;
        padding-bottom: 14px;

        .form-left {
            flex-grow: 1;
        }
    }
}